@model IEnumerable<AMS.Models.UserGroup>

@{
    ViewData["Title"] = "My User Groups";
}


@* view-styles *@
@section Styles {
}

@*view-breadcrumbs*@
@section Breadcrumbs {
}

@* view-content *@
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> My User Groups (@Model.Count())
            </div>
            <div class="card-body">
                <table id="table"
                       data-search="true"
                       data-pagination="true"
                       data-show-export="true"
                       data-filter-control="true"
                       data-show-search-clear-button="true"
                       class="table">
                    <thead>
                        <tr>
                            <th data-field="name" data-sortable="true" data-filter-control="input">
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th data-field="actions"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    <a class="btn-sm btn-secondary mx-1" asp-controller="UserGroups" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-list mx-1"></i>Details</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <!--/.col-->
</div>

@* view-modals *@
@section Modals {
}

@* view-scripts *@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(function () {
            var $table = $("#table").bootstrapTable();
        });
    </script>
}


