@model IEnumerable<TodoTask>
@{
    ViewData["Title"] = "Calendar";
}


@* view-styles *@
@section Styles {
}

@*view-breadcrumbs*@
@section Breadcrumbs {
}

@* view-content *@

<div class="mb-1">
    <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#add-modal" data-url="@Url.Action("Add")">
        Add Task
    </button>
    <!-- Modal placeholder -->
    <div id="modal-placeholder"></div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div id='calendar'></div>
    </div>
    <!--/.col-->
</div>



@* view-modals *@
@section Modals {
}

@* view-scripts *@
@section Scripts {
    <script>
        $(function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['bootstrap', 'interaction', 'dayGrid', 'timeGrid', 'list'],
                themeSystem: 'bootstrap',
                defaultView: 'dayGridMonth',
                header: {
                    left: 'prevYear,prev,next,nextYear today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                },
                navLinks: true, // can click day/week names to navigate views
                editable: true,
                eventLimit: true, // allow "more" link when too many events,
                selectable: true,
                select: function(info) {
                     // info.start, startStr, end, endStr
                    $("#idStart").val(info.startStr);
                    $("#idDue").val(info.endStr);
                    $("#idSummary").val('New Task');
                    $('#dlgAddTodoTask').modal('show');
                },
                events: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Select(x => new { title = x.Title, start = x.StartDate, end = x.DueDate, allDay = true, textColor = "white", url = $"/TodoTasks/Details?id={x.Id}" })))


            });

            calendar.render();
        });
    </script>

    <script src="~/js/the-repeater.js"></script>
}
