@model IEnumerable<AMS.Models.Location>

<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> Child Locations
        </div>
        <div class="card-body">

            <table id="table"
                   data-search="true"
                   data-pagination="true"
                   data-show-export="true"
                   data-filter-control="true"
                   data-show-search-clear-button="true"
                   class="table">
                <thead>
                    <tr>
                        <th data-field="name" data-sortable="true" data-filter-control="input">
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th data-field="parentLocation" data-sortable="true" data-filter-control="select">
                            @Html.DisplayNameFor(model => model.Parent)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Parent.Name)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>




