@model AMS.Models.Location

@{
    ViewData["Title"] = "Location";
    ViewData["Action"] = "Create";
}

<div class="row">
    <div class="offset-2 col-md-8">
        <form asp-action="@ViewBag.Action" class="form-horizontal">
            <div class="card">
                <div class="card-header">
                    <strong>@ViewBag.Title</strong>
                    Form
                </div>
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <!-- TenantId Hidden -->
                    <input type="hidden" asp-for="TenantId" value="@ViewData["TenantId"]" />

                    <!-- LocationType Select -->
                    <div class="form-group row">
                        <label asp-for="LocationTypeId" class="col-md-3 col-form-label"></label>
                        <div class="col-md-9">
                            <select asp-for="LocationTypeId" class="form-control" asp-items="ViewBag.LocationTypeId">
                                <option value="">--- SELECT ---</option>
                            </select>
                            <span class="help-block"><small></small></span>
                            <span asp-validation-for="LocationTypeId" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Location Name Input -->
                    <div class="form-group row">
                        <label asp-for="Name" class="col-md-3 col-form-label"></label>
                        <div class="col-md-9">
                            <input asp-for="Name" class="form-control" />
                            <span class="help-block"><small></small></span>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Location ParentId Select -->
                    <div class="form-group row">
                        <label asp-for="ParentId" class="col-md-3 col-form-label"></label>
                        <div class="col-md-9">
                            <select asp-for="ParentId" class="form-control" asp-items="ViewBag.ParentId">
                                <option value="">--- SELECT ---</option>
                            </select>
                            <span class="help-block"><small></small></span>
                            <span asp-validation-for="ParentId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary">
                        <i class="fa fa-dot-circle-o"></i> Save
                    </button>
                    <button type="reset" class="btn btn-sm btn-danger">
                        <i class="fa fa-ban"></i> Reset
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
