@model AMS.Models.TicketType

@{
    ViewData["Title"] = "Ticket Type";
    ViewData["Action"] = "Create";
}

<div class="row">
    <div class="offset-2 col-md-8">
        <form asp-action="@ViewBag.Action" class="form-horizontal">
            <div class="card">
                <div class="card-header">
                    <strong>@ViewBag.Title</strong>
                    Form
                </div>
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <!-- TenantId Hidden -->
                    <input type="hidden" asp-for="TenantId" value="@ViewData["TenantId"]" />

                    <!-- Name Input -->
                    <div class="form-group row">
                        <label asp-for="Name" class="col-md-3 col-form-label"></label>
                        <div class="col-md-9">
                            <input asp-for="Name" class="form-control" />
                            <span class="help-block"><small></small></span>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Code Input -->
                    <div class="form-group row">
                        <label asp-for="Code" class="col-md-3 col-form-label"></label>
                        <div class="col-md-9">
                            <input asp-for="Code" class="form-control" />
                            <span class="help-block"><small><i class="fa fa-exclamation-triangle mr-1"></i>Changing code will not affect previously created tickets</small></span>
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Default Duration Input -->
                    <div class="form-group row">
                        <label asp-for="DefaultDuration" class="col-md-3 col-form-label"></label>
                        <div class="col-md-9">
                            <input asp-for="DefaultDuration" class="form-control" />
                            <span class="help-block"><small></small></span>
                            <span asp-validation-for="DefaultDuration" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="repeater">
                        <!--
                        The value given to the data-repeater-list attribute will be used as the
                        base of rewritten name attributes.  In this example, the first
                        data-repeater-item's name attribute would become group-a[0][text-input],
                        and the second data-repeater-item would become group-a[1][text-input]
                        -->
                        <div data-repeater-list="Values">
                            <div data-repeater-item class="form-group row">
                                <div class="offset-3 col-md-9">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <select type="text" name="FieldId" asp-items="ViewBag.FieldId" class="form-control">
                                                <option disabled value="">--- SELECT FIELD ---</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <a data-repeater-delete href="#" class="btn btn-sm btn-danger">Remove</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <input data-repeater-create class="btn btn-sm btn-success" type="button" value="Add Field" />
                            </div>

                        </div>

                    </div>

                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary">
                        <i class="fa fa-dot-circle-o"></i> Save
                    </button>
                    <button type="reset" class="btn btn-sm btn-danger">
                        <i class="fa fa-ban"></i> Reset
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/the-repeater.js"></script>
}
