@model IEnumerable<AMS.Models.CustomListItem>

    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> Custom List Items
        </div>
        <div class="card-body">

            <table id="table"
                   data-search="true"
                   data-pagination="true"
                   data-show-export="true"
                   data-filter-control="true"
                   data-show-search-clear-button="true"
                   class="table">
                <thead>
                    <tr>
                        <th data-field="key" data-sortable="true" data-filter-control="input">
                            @Html.DisplayNameFor(model => model.Key)
                        </th>
                        <th data-field="value" data-sortable="true" data-filter-control="input">
                            @Html.DisplayNameFor(model => model.Value)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Key)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Value)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>



