@model IEnumerable<TodoTask>

<div class="card">
    <div class="card-header">
        <i class="fa fa-align-justify"></i> Tasks
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h4>History</h4>
                <ul class="timeline">
                    @foreach (var task in Model.OrderByDescending(x => x.StartDate))
                    {
                        <li>
                            <a target="_blank" asp-controller="TodoTasks" asp-action="Details" asp-route-id="@task.Id"><img width="40" src="~/images/avatars/1.jpg" class="img-circle mr-1" />@task.Summary</a>
                            <a href="#" class="float-right">@task.StartDate.ToString("dd MMMM, yyyy")</a>
                            <p>@task.Description</p>
                        </li>
                    }

                </ul>
            </div>
        </div>

    </div>
</div>