@model IEnumerable<AMS.Models.Client>

@{
    ViewData["Title"] = "Clients";
}

@* view-styles *@
@section Styles {
}

@*view-breadcrumbs*@
@section Breadcrumbs {
}

@* view-content *@
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Clients
            </div>
            <div class="card-body">

                <table  id="table" 
                        data-search="true"
                        data-pagination="true"
                        data-show-export="true"
                        data-filter-control="true"
                        data-show-search-clear-button="true"
                        class="table">
                    <thead>
                        <tr>
                            <th data-field="clientType" data-sortable="true" data-filter-control="select">
                                @Html.DisplayNameFor(model => model.ClientType)
                            </th>
                            <th data-field="name" data-sortable="true" data-filter-control="input">
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th data-field="actions"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ClientType.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
    <!--/.col-->
</div>

@* view-modals *@
@section Modals {
}

@* view-scripts *@
@section Scripts {
    <script>
        $(function () {
            var $table = $("#table").bootstrapTable();
        });
    </script>
}


